<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container container-fluid">
        <a class="navbar-brand" href="#">Promo CRM App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href= "{% url 'identif:login' %}" >Log In</a>
        <a href= "{% url 'identif:reg' %}" >Registration</a>
    </div>
</nav>