{% extends 'identif/base.html' %}
{% block Title %} Registration {% endblock %}
{% block Body %}
    <form method="post" action="">
        <fieldset>
            <legend>Register</legend>
            {% csrf_token %}
            {% if error == "Not an employee" %}
                <p style="color: indianred">You are not an Alivaria emloyee!</p>
            {% endif %}
            {% if form.errors %}
                <p style="color: indianred">Got an error! {{ form.errors }}</p>
            {% endif %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        </fieldset>
    </form>
{% endblock %}