{% extends 'actions/base.html' %}
{% block Title %}{{ promo }}{% endblock %}
{% block Body %}
     <form method="POST" action="">
        <fieldset>
            <legend>Edit Promo</legend>
            {% csrf_token %}
            <input name="client" value="{{promo.client}}" />
            <input name="sku" value="{{promo.sku}}" />
            <input name="promo_type" value="{{promo.promo_type}}" />
            <input name="promo_volume" value="{{promo.promo_volume}}" />
            <input name="promo_discount" value="{{promo.promo_discount}}" />
            <input name="start_date" value="{{promo.start_date}}" />
            <input name="end_date" value="{{promo.end_date}}" />
            <input name="percent_this_month" value="{{promo.percent_this_month}}" />
            <input name="percent_next_month" value="{{promo.percent_next_month}}" />
            <input type="submit" value="Save">

        </fieldset>
    </form>
{% endblock %}